@import "_variables.scss";
@import "_mixins.scss";

.hero {
  height: 420px;
  margin-bottom: 50px;
}
section.details {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.event-about {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  &__description {
    line-height: 1.2;
  }
  &__animators {
    display: flex;
    column-gap: 50px;
    .column {
      text-align: start;
    }
  }
  .img-container {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h5 {
    color: $primary;
    font-size: 1.4rem;
  }
  h6 {
    font-size: 0.85rem;
    color: rgba($dark_grey, 0.75);
  }
}
.event-details {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  &__date {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    column-gap: 25px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba($dark_grey, 0.1);

    .detail {
      text-align: center;
      padding: 25px;
      .fas {
        font-size: 45px;
        color: $primary;
        margin-bottom: 25px;
      }
      .icon-title {
        font-size: 20px;
        color: rgba($dark_grey, 0.75);
      }
    }
  }
  &__booking {
    display: inline-flex;
    flex-direction: column;
    width: 350px;
    row-gap: 12.5px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba($dark_grey, 0.1);
    padding: 25px;
    margin-left: auto;
    text-align: center;
    .event-infos {
      margin: 15px 0;
    }
    .icon-title {
      font-size: 32.5px;
      font-weight: 500;
      color: $primary;
      margin-bottom: 15px;
    }
    .left-place {
      font-size: 20px;
      color: rgba($dark_grey, 0.75);
    }
    button {
      border-radius: 5px;
      cursor: pointer;
      border: none;
      display: block;
      background-color: $primary;
      color: white;
      padding: 15px;
      font-size: 17.5px;
      &:active {
        outline: 2px solid rgba($primary, 0.5);
      }
    }
  }
}
#left {
  margin: 0 auto;
  position: relative;
  width: 90px;
  height: 90px;
  font-family: "MohrRounded";

  svg {
    path {
      stroke-linecap: round;
    }
  }
}
.section-title {
  @include sectionTitle();
  font-weight: bold;
  color: $primary;
  font-size: 1.4rem;
}
